<p style="color: green"><%= notice %></p>

<h1 id='protitle'>PRODUCTS</h1>
  
<div id="products">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;">
      <img src="https://assets.thehansindia.com/h-upload/2022/07/18/1303611-pro.webp" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"><%=product.name%></h5>
        <p class="card-text"><%=product.price%> rs/-</p>
        <p class="card-text"><%=product.description%></p>
        <%= link_to 'Add To Cart', addproduct_path(product_id=product.id), class:'btn btn-success'%>
        </div>
    </div>
  <% end %>
</div>
<button type="button" class="btn btn-outline-success"><%= link_to "New product", new_product_path %></button>
<%= will_paginate @products %>

